:root {
  --background: #fff5d1;
  --text: black;
}

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

a {
  color: var(--text);
}

.container {
  margin: 0 auto;
  max-width: 37.5rem;
  /* padding: 1rem; */
}
