:root {
  --background: #fff5d1;
  --text: black;
}

html {
  background-color: var(--background);
  color: var(--text);
}

p {
  line-height: 1.5;
}

a {
  color: var(--text);
}

.container {
  margin: 0 auto;
  max-width: 40rem;
  /* padding: 1rem; */
}
