@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.ttf") format("ttf"),
    url("../fonts/PublicSans-Regular.woff") format("woff"),
    url("../fonts/PublicSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.ttf") format("ttf"),
    url("../fonts/PublicSans-Medium.woff") format("woff"),
    url("../fonts/PublicSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Bold.ttf") format("ttf"),
    url("../fonts/PublicSans-Bold.woff") format("woff"),
    url("../fonts/PublicSans-Bold.woff2") format("woff2");
  font-weight: 600;
}

body {
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
