<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>- Ryan Ponce's Website</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <h1>Ryan Ponce</h1>
      <nav>
        <ul class="nav-links">
          <li class="nav-link"><a href="/index.html">Home</a></li>
          <li class="nav-link"><a href="/about-me.html">About Me</a></li>
          <li class="nav-link"><a href="/contact-me.html">Contact Me</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <!-- stuff goes here -->
      </article>
    </main>
    <footer>
      <p>&copy; 2024</p>
    </footer>
  </body>
</html>
