{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}

{% block back %}<p><a href="/">← Back to Home</a></p>{% endblock back %}

{% block content %}
  <article>
    <h2>{{ section.title }}</h2>
    {{ section.content | safe }}
    <ul>
      {% for page in section.pages %}
        <li>
          <a href="{{ page.path | safe }}">{{ page.title }}</a> - {{ page.date | date(format="%B %-d, %Y") }}
        </li>
      {% endfor %}
    </ul>
  </article>
{% endblock content %}
